/*VARIABLES PARA PALETA DE COLORES*/
$color-principal: pink;
$color-secundario: yellow;

/*ESPACIADOS*/
$espaciado-grande: 5rem; 

/*fuentes*/
$letra-grande: 30px;
$letra-mediana: 20px;
$letra-chica: 10px;

/*Resoluciones*/
$tablet: 768px;
$desktop: 992px;
